.cards {
	padding: 125px 0 90px;
	position: relative;

	@media screen and (max-width: 576px) {
		padding: 60px 0 90px;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0%;
		width: 100%;
		height: 100%;
		background-color: #F4F4F4;
		clip-path: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
		z-index: -1;

		@media screen and (max-width: 576px) {
			clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0 100%);
		}
	}
}
.cards-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 18px;

	@media screen and (max-width: 1150px) {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
	@media screen and (max-width: 768px) {
		gap: 10px;
	}

	&__link {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 265px;
		padding: 15px 25px;
		background-color: $clrWhite;
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
		border-radius: 25px;
		transition: all 0.3s ease;
		text-decoration: none;

		@media screen and (max-width: 1150px) {
			display: flex;
			flex-wrap: wrap;
			min-height: unset;
			width: calc((100vw - 30px - 60px) / 3);
			height: calc((100vw - 30px - 60px) / 3);
		}
		@media screen and (max-width: 768px) {
			width: calc((100vw - 30px - 10px) / 2);
			height: calc((100vw - 30px - 10px) / 2);
		}

		&_yellow {
			background-color: $clrYellow;
		}

		&_pattern {
			background: $clrWhite url('../../../img/pattern.svg') no-repeat 85% 50% / 27%;

			@media screen and (max-width: 1150px) {
				background: $clrWhite;
			}
		}

		&:first-child {
			grid-column: 1 / 3;

			@media screen and (max-width: 1150px) {
				grid-column: unset;
			}
		}

		&:nth-child(3) {
			grid-column: 1 / 2;

			@media screen and (max-width: 1150px) {
				grid-column: unset;
			}
		}

		&:hover {
			background-color: $clrYellow;

			.cards-list__logo {
				fill: $clrWhite
			}
		}
	}

	&__logo {
		width: 107px;
		height: 155px;
		fill: $clrYellow;
		transition: all 0.3s ease;

		@media screen and (max-width: 992px) {
			width: 100px;
			height: 145px;
		}
		@media screen and (max-width: 576px) {
			width: 55px;
			height: 80px;
		}
	}

	&__title {
		font-family: 'Circe';
		font-size: 22px;
		font-weight: 700;
		color: $clrBlack;

		@media screen and (max-width: 576px) {
			font-size: 12px;
		}
	}

	&__arrow {
		width: 40px;
		height: 20px;
	}
}
