.chronology {
	padding-top: 150px;

	.container {
		position: relative;
	}

	&-bg {
		position: absolute;
		left: 0;
		transform: translateX(-50%);
		top: 45%;

		@media screen and (max-width: 576px) {
			right: 0;
			left: unset;
			transform: translateX(50%);
			top: 80%;
		}
	}
}

.chronology-list {
	&__item {
		width: 47%;
		position: relative;

		@media screen and (max-width: 992px) {
			width: 60%
		}
		@media screen and (max-width: 768px) {
			width: 100%;
		}

		&:first-child {
			.chronology-list__icon {
				left: 35px;
				top: 30px;

				@media screen and (max-width: 576px) {
					left: -62px;
					top: -24px;
				}

				svg {
					width: 120px;
					height: 120px;
				}
			}
			.chronology-list__icon-line {
				position: absolute;
				left: calc(50% + 45px);
				transform: translateX(-50%);
				top: calc(100% + 25px);

				@media screen and (max-width: 576px) {
					left: 40px;
					top: 100%;
				}

				svg {
					width: 20px;
					height: 265px;

					@media screen and (max-width: 576px) {
						height: 225px;
					}
				}
			}
		}

		&:nth-child(even) {
			margin-left: auto;
		}

		&:not(:last-child) {
			margin-bottom: 50px;

			@media screen and (max-width: 576px) {
				margin-bottom: 175px;
			}
		}

		&:nth-child(2) {
			margin-bottom: 110px;

			@media screen and (max-width: 576px) {
				width: 80%;
				margin-bottom: 100px;
			}

			.chronology-list__icon {
				transform: rotate(20deg) translate(15px, -5px);

				@media screen and (max-width: 576px) {
					transform: rotate(0);
					left: -157px;
					top: 66px;
				}

				svg {
					width: 159px;
					height: 128px;
				}
			}
		}

		&:last-child {
			@media screen and (max-width: 768px) {
				width: 50%
			}
			@media screen and (max-width: 576px) {
				width: 100%;
			}
		}
	}
	&__icon {
		position: absolute;
		z-index: -1;
	}
	&__year {
		font-weight: 600;
		font-size: 64px;

		span {
			margin-left: -10px;
			font-size: 24px;
		}
	}
	&__text {
		margin: 5px 0 0 90px;
		line-height: 34px;

		@media screen and (max-width: 576px) {
			margin: 16px 0 0 27px;
		}
	}
}
